{% extends 'advice/base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}

        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="{% static 'advice/img/avataaars.svg' %}" alt="" />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">AROMA CONSEILS</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Huiles Essentielles</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Soignez-vous</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- Portfolio Section Heading-->
                <h3 class=" text-center text-secondary mb-0">Choisissez le symptôme que vous souhaitez soigner:</h3>

                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- drop-down list to select a pathology-->

                <div class="row">
                    <div class="col-sm-12 text-center ">
                        <form  action="{% url 'advice:advice_he' %}" method="post">
                        {% csrf_token %}
                            <div >
                                <select name="pathology_choose" class="custom-select bg-primary text-light" style="font-size:20px" >
                                            <option>
                                                Symptôme
                                            </option>
                                            <option>
                                            </option>
                                     {% for pathology in pathologies %}
                                            <option>
                                                {{ pathology.name }}
                                            </option>
                                     {% endfor %}
                                </select>
                            </div>
                            <input type="submit" value="choisir"  class="btn btn-success save_btn">
                        </form>
                    </div>
                </div>

                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <!-- Portfolio Item 5-->
                </div>
            </div>
        </section>
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">A propos de</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">Ce site vous conseille pour calmer vos symptôme avec les huiles essentielles. Ne convient pas aux enfants de moins de 12 ans.</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">Si vous souhaitez avoir des conseils qui ne sont pas disponibles, plus précis, pour vos enfants ou pour des personnes à risque, envoyer un email.</p></div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="{% url 'user:contact' %}">
                        <i class="fas fa-download mr-2"></i>
                        Envoyer un mail
                    </a>
                </div>
            </div>
        </section>
        <!-- Contact Section-->


{% endblock %}